{% extends './base.html' %}
{% block content %}

{% load static %}

 <!-- Feed bookmarkts -->

 
 
  <div class="col">
    <div class="alert alert-danger resmessage" style="display:none;"></div>

    <div class="container">
    <ul class="tabs-bar  text-center">
      <li id="tab1" class="tab tab-active"><b>For You</b></li>
      <li id="tab2" class="tab"> <b>Following</b></li>
  
    </ul>
 
    <div class=" mt-5 feed">
      <!-- <div class="fixed-btn mx-auto">
      <button class="btn btn-danger btn-sm btn-round px-3 " id="refresh-btn"><small><b>Refresh </b></small> <i class="fa-solid fa-rotate-right ml-2"></i></button>
        </div> -->

        
      <div class="app--feed mt-2 ">

  <div class="content-container ">
    <div class="content content-tab1 content-active">

      <br>
      {% if following_comments %}
              {% for comment in following_comments %}
     <div class="row mt-3">

     
      <div class="post_card  mb-2 col-12 "> 
         <div class=" row">
            <a href="{% url 'view_profile' comment.comment_by.username %}">

            <div class="lefter mr-auto">
              
              <span class="account-avatar ">
              {% if comment.avatar %}
              <img src="{{ comment.avatar.url }}"  id="user-main-avatar" >
              {% else %}
                  <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar" >
              {% endif %}
            </span>
              <span class="  ml-2 ">
                <b>{{comment.name}}</b> {% if comment.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 18px;height: auto; margin-bottom: 3px;"></span> {% endif %}   <span class="blue"><small> @{{comment.comment_by.username |slice:":10" }} </small>  </span>                 
                 <span class=" ml-4 comment-time"> {{comment.whenpublished}}</span> 

              </span>
            </div>
            </a>
              <div class="ml-auto mr-3 ">

                <div class="card-action">
                  <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle-nocaret btn btn-light btn-round" data-toggle="dropdown">
                   <i class="fa-solid fa-ellipsis"></i>
             
                  </a>
                   <div class="dropdown-menu dropdown-menu-right">
                    {% if request.user != comment.comment_by %}
                    <button class="dropdown-item follow-button btn btn-trans" data-profile-username="{{ comment.comment_by }}"
                            data-initial-state="{% if request.user.username in comment.comment_by.following.all %}unfollow{% else %}follow{% endif %}">
                        {% if request.user.username in comment.comment_by.following.all %}
                            Follow
                        {% else %}
                        <i class="fa-solid fa-minus mr-1"></i>  Unfollow
                        {% endif %}
                    </button>
            
                    {% endif %}
            
                    {% if request.user == comment.comment_by %}
                     <button class="dropdown-item" onclick="commentDelete({{ comment.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
                    {% endif %}
            
                    {% if request.user != comment.comment_by %}
                    <button class="dropdown-item report-comment-button" data-toggle="modal" data-report-id="{{ comment.id }}" data-target="#ReportCommentModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
                    {% endif %}
             
                    </div>
                   </div>
                 
                  </div>
              </div> 
          </div> 
  
       
      
      <div class="container mt-2">
        <a href="#"  >

       <div class="post-body">
         
         <p class="short-body mt-1">
           <a href="#" id="post-body" >
           {{ comment.body|slice:":144" }}{% if comment.body|length > 144 %}...{% endif %}
         </a>
         </p>
           
         <p class="full-body mt-1">
           <a href="#" id="post-body" >
 
           {{ comment.body }}</a> </p>
         {% if comment.body|length > 144 %}
             <a class="show-more-link">Show more</a>
         {% endif %}
         <a class="show-less-link blue" style="display: none; ">Show less</a>
 
     </div>
    </a>
         
            {% if comment.comment_image %}
             
          <div class="post_card--creative mt-3">

           <img src="{{ comment.comment_image.url }}">
 
  
          </div>

          {% endif %}

     <div class="row mt-2">

     
      
      <div class="post_card  mb-2 col-12 "> 
        <div class="row">
         <div class="ml-3 ">
           <button class="btn btn-trans " data-toggle="tooltip" data-placement="top" title="Views" >
            <small> <i class="fa-solid fa-chart-simple grey"></i>
             {{comment.parent_post.view_count}} </small>
         </button>
         </div>
        
         
      
       <div class="ml-auto  mr-3 mt-2">
          <div class="card-action">
      <div class="dropdown">
      <a href="javascript:void();" class="dropdown-toggle-nocaret btn-light btn-round px-3" data-toggle="dropdown">
       <i class="fa-solid fa-ellipsis"></i>
 
      </a>
       <div class="dropdown-menu dropdown-menu-right">
         {% if request.user != comment.parent_post.posted_by %}
         <button class="dropdown-item follow-button  btn btn-light" data-profile-username="{{ post.posted_by }}"
                 data-initial-state="{% if request.user.username in post.posted_by.following.all %}unfollow{% else %}follow{% endif %}">
             {% if request.user in post.posted_by.following.all %}
                 Unfollow
             {% else %}
             <i class="fa-solid fa-plus mr-1"></i>  Follow 
             {% endif %} 
         </button>
 
         {% endif %}
 
         {% if request.user == comment.parent_post.posted_by %}
          <button class="dropdown-item" onclick="confirmDelete({{ comment.parent_post.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
         {% endif %}
 
         {% if request.user != comment.parent_post.posted_by %}
        <button class="dropdown-item report-button" data-toggle="modal" data-report-id="{{ comment.parent_post.id }}" data-target="#ReportModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
        {% endif %}
      
        {% if request.user != comment.parent_post.posted_by %}
        <button class="dropdown-item bookmark-button " data-post-id="{{ comment.parent_post.id }}"><i class="fa-regular fa-bookmark mr-2"></i>Collect</button>       
        {% endif %}
 
        </div>
       </div>
     
      </div>
     </div>
   </div>
    
 
       <div class="post_card--brand ">
         <div class="brand__info">
           <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
 
           <div class="name-tag ">
 
 
             <a href="{% url 'view_profile' comment.parent_post.posted_by%}">
             <div class="follow-account ">
               <span class="account-avatar">
                 {% if comment.parent_post.avatar %}
                
                 <img src="{{ comment.parent_post.avatar.url }}"  id="user-main-avatar">
                 {% else %}
                     <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
                  
                     {% endif %}
               </span>
               <div class="user-details ">
                 <p><b>{{comment.parent_post.poster_full}} </b> {% if comment.parent_post.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 19px;height: auto; margin-bottom: 3px;"></span> {% endif %}  . {{comment.parent_post.whenpublished}} </p>
                 <p class="blue">@{{comment.parent_post.posted_by}}</p>
               </div> 
             
           </div>
         </a>
 </div>
           
         </div>
       </div>
 
       <div class="row ml-auto">
       {% if comment.parent_post.post_type == "project" %}
 
         <div class=" binary_badge ">
                 
         <a href="#" class="badge badge-pill badge-primary ">{{comment.parent_post.progress}}</a> 
                 
         </div>
         
     <div class=" topic_badge mr-2">
         <a href="{% url 'industry_filter' comment.parent_post.industry %}" class="badge badge-pill badge-warning  mr-2">{{ comment.parent_post.industry|title }}</a>
     </div>
 {% endif %}
 </div>
 
 <div class="mt-1 ml-3 mr-3"><b>{{comment.parent_post.headline | capfirst}} </b></div>
 
      <div class="container mt-2">
   
       <div class="post-body">
         
         <p class="short-body mt-1">
           <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}" id="post-body" >
           {{ comment.parent_post.body|slice:":144" }}{% if comment.parent_post.body|length > 144 %}...{% endif %}
         </a>
         </p>
           
         <p class="full-body mt-1">
           <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}" id="post-body" >
 
           {{ comment.parent_post.body }}</a> </p>
         {% if comment.parent_post.body|length > 144 %}
             <a class="show-more-link">Show more</a>
         {% endif %}
         <a class="show-less-link blue" style="display: none; ">Show less</a>
 
     </div>
         
             {% if comment.parent_post.post_image %}
             <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}">
       <div class="post_card--creative mt-2">
 
         <img src="{{ comment.parent_post.post_image.url }}">
        
         
     </div> </a>
   
     {% endif %}
       
      
     <div class="post_card--summary">
       {% if comment.parent_post.post_type == "project" %}
 
       <a href="#">
         <div class="post_card--cta ">
           <div class="mx-auto mt-2 mb-2">
             <a href="{{ comment.parent_post.cta_link }}" target="_blank" class="btn btn-outline-danger btn-round px-3">{{comment.parent_post.project_cta}} <i class="fa-solid fa-chevron-right ml-"></i> </a>
                 
           </div>
         </div>
       </a>
 
       {% endif %}
         <!-- DO NOT CHANGE THIS IMAGE -->
      
     
       </div>
 
       
      
       </div>
 
       
 
       </div>
       </div>
       
      
     <div class="post_card--summary">
       
         <!-- DO NOT CHANGE THIS IMAGE -->
         <div class="post_card--input--left mt-2 ">
 
          <div class="post-icons">
            <button class="reply-button btn btn-light btn-round" data-comment-id="{{ comment.id }}">
              <i class="fa-regular fa-comment"></i>
              <span class="post-engagement ml-2">{{ comment.reply_count }}</span>

            </button>
          </div>
 
             <div class=" like row ">
              {% if user.is_authenticated %}
              
              <form action="{% url 'upvote_comment' comment.id %}" method="post">
                {% csrf_token %}
              <span class=" ml-2"> 
                  <button  class="btn btn-light btn-round comment-upvote-button {% if user in comment.likes.all or comment.id in clicked_buttons %} clicked-button{% endif %}" data-comment-id="{{ comment.id }}"> <i class="fa-regular fa-heart"></i> </button>         
              </span>
              </form>
            
            <span class="ml-2 mt-2" id="vote-count-{{ comment.id }}" > {{ comment.vote_count }} </span>
    
            <form action="{% url 'downvote_comment' comment.id %}" method="post">
              {% csrf_token %}
            <span class=" ml-2">
              <button  class="btn btn-light btn-round comment-downvote-button {% if user in comment.dislikes.all %} clicked-button{% endif %}" data-comment-id="{{ comment.id }}"> <i class="fa-solid fa-xmark"></i> </button>
            </span>
            </form>
            {% endif %}
            </div>
 
            <div class="post-icons mr-3">
              <button class="comment-bookmark-button btn btn-light btn-round" data-comment-id="{{ comment.id }}">
                <i class="fa-regular fa-bookmark"></i> 
      
            </button>
      
            </div>
           
 
  
         <!-- DO NOT CHANGE THIS IMAGE -->
       </div>
      
       
      
     
       </div>

       <div class="mb-2 mt-3">
        <form class="reply-form"  data-comment-id="{{ comment.id }}" style="display: none;" >
          {% csrf_token %}
  
          <div class="row " id="reply_form">
            <div class="col-12">
          <textarea name="reply" placeholder="Post Your Reply" class="reply-input"></textarea>
        </div>
       
          </div>
          <div class="progress ml-3 mr-3 mt-2 mb-2">
            <div class="progress-bar bg-light" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          <div class="row">
            <div class="ml-auto">
              <div class=" mr-4 mt-2">
                <button type="submit" class="btn btn-warning btn-round px-3">Send</button>
                </div><br/>
            </div>
          </div>
        </form>
        </div>
       
       </div>
 
       
 
       </div>
      </div>
     {% endfor %}
     {%endif%}

      {% if posts %}

     {% for post in posts %}
     <div class="row mt-2">

     
      
     <div class="post_card  mb-2 col-12 "> 
       <div class="row">
        <div class="ml-3 ">
          <button class="btn btn-trans " data-toggle="tooltip" data-placement="top" title="Views" >
           <small> <i class="fa-solid fa-chart-simple grey"></i>
            {{post.view_count}} </small>
        </button>
        </div>
       
        
     
      <div class="ml-auto  mr-3 mt-2">
         <div class="card-action">
     <div class="dropdown">
     <a href="javascript:void();" class="dropdown-toggle-nocaret btn-light btn-round px-3" data-toggle="dropdown">
      <i class="fa-solid fa-ellipsis"></i>

     </a>
      <div class="dropdown-menu dropdown-menu-right">
        {% if request.user != post.posted_by %}
        <button class="dropdown-item follow-button  btn btn-light" data-profile-username="{{ post.posted_by }}"
                data-initial-state="{% if request.user.username in post.posted_by.following.all %}unfollow{% else %}follow{% endif %}">
                {% if post.posted_by in following %}
                Unfollow
            {% else %}
            <i class="fa-solid fa-plus mr-1"></i>  Follow 
            {% endif %} 
        </button>

        {% endif %}

        {% if request.user == post.posted_by %}
         <button class="dropdown-item" onclick="confirmDelete({{ post.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
        {% endif %}

        {% if request.user != post.posted_by %}
       <button class="dropdown-item report-button" data-toggle="modal" data-report-id="{{ post.id }}" data-target="#ReportModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
       {% endif %}
     
       {% if request.user != post.posted_by %}
       <button class="dropdown-item bookmark-button " data-post-id="{{ post.id }}"><i class="fa-regular fa-bookmark mr-2"></i>Collect </button>       
       {% endif %}

       </div>
      </div>
    
     </div>
    </div>
  </div>
   

      <div class="post_card--brand ">
        <div class="brand__info">
          <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->

          <div class="name-tag ">


            <a href="{% url 'view_profile' post.posted_by%}">
            <div class="follow-account ">
              <span class="account-avatar">
                {% if post.avatar %}
               
                <img src="{{ post.avatar.url }}"  id="user-main-avatar">
                {% else %}
                    <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
                 
                    {% endif %}
              </span>
              <div class="user-details ">
                <p><b>{{post.poster_full}} </b> {% if post.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 19px;height: auto; margin-bottom: 3px;"></span> {% endif %}  . {{post.whenpublished}} </p>
                <p class="blue">@{{post.posted_by}}</p>
              </div>
            
          </div>
        </a>
</div>
          
        </div>
      </div>

      <div class="row ml-auto">
      {% if post.post_type == "project" %}

        <div class=" binary_badge ">
                
        <a href="#" class="badge badge-pill badge-primary ">{{post.progress}}</a> 
                
        </div>
        
    <div class=" topic_badge mr-2">
        <a href="{% url 'industry_filter' post.industry %}" class="badge badge-pill badge-warning  mr-2">{{ post.industry|title }}</a>
    </div>
{% endif %}
</div>
          <a href="{% url 'post_detail' identifier=post.identifier %}"  >

<div class="mt-1 ml-3 mr-3"><b>{{post.headline | capfirst}} </b></div>
</a>
     <div class="container mt-2">
  
      <div class="post-body">
        
        <p class="short-body mt-1">
          <a href="{% url 'post_detail' identifier=post.identifier %}" id="post-body" >
          {{ post.body|slice:":144" }}{% if post.body|length > 144 %}...{% endif %}
        </a>
        </p>
          
        <p class="full-body mt-1">
          <a href="{% url 'post_detail' identifier=post.identifier %}" id="post-body" >

          {{ post.body }}</a> </p>
        {% if post.body|length > 144 %}
            <a class="show-more-link">Show more</a>
        {% endif %}
        <a class="show-less-link blue" style="display: none; ">Show less</a>

    </div>
        
            {% if post.post_image %}
            <a href="{% url 'post_detail' identifier=post.identifier %}">
      <div class="post_card--creative mt-2">

        <img src="{{ post.post_image.url }}">
       
        
    </div> </a>
  
    {% endif %}
      
     
    <div class="post_card--summary">
      {% if post.post_type == "project" %}

      <a href="#">
        <div class="post_card--cta ">
          <div class="mx-auto mt-2 mb-2">
            <a href="{{ post.cta_link }}" target="_blank" class="btn btn-outline-danger btn-round px-3">{{post.project_cta}} <i class="fa-solid fa-chevron-right ml-"></i> </a>
                
          </div>
        </div>
      </a>

      {% endif %}
        <!-- DO NOT CHANGE THIS IMAGE -->
        <div class="post_card--input--left mt-2 ">

          <div class="post-icons">
            <button class="comment-button btn btn-light btn-round" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Comments" >
              <i class="fa-regular fa-comment"></i>
              <span class="post-engagement ml-2" id="comment-count-{{ post.id }}">{{ post.comment_count }}</span>

            </button>
          </div>

            <div class=" like row ">
              {% if user.is_authenticated %}
              
              <form action="{% url 'upvote_post' post.id %}" method="post">
                {% csrf_token %}
              <span > 
                  <button  class="btn btn-light btn-round upvote-button {% if user in post.likes.all or post.id in clicked_buttons %} clicked-button{% endif %}" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Like" > <i class="fa-regular fa-heart"></i> </button>         
              </span>
              </form>
            
            <span class="ml-2 mt-2 mr-2" id="vote-count-{{ post.id }}" > {{ post.vote_count }} </span>
    
            <form action="{% url 'downvote_post' post.id %}" method="post">
              {% csrf_token %}
            <span>
              <button  class="btn btn-light btn-round downvote-button {% if user in post.dislikes.all %} clicked-button{% endif %}" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Dislike"> <i class="fa-solid fa-xmark"></i> </button>
            </span>
            </form>
            {% endif %}
            </div>


           <div class="post-icons  mr-3">
            <button class="repost-button btn btn-light btn-round share-btn" data-post-url="{% url 'post_detail' identifier=post.identifier %}"   data-toggle="tooltip" data-placement="top" title="Share this Post" >
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
              </button>
          </div>

 
        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
     
      
     
    
      </div>

      <form class="comment-form mt-3" data-post-id="{{ post.id }}">
        {% csrf_token %}
      
        <div class="row " id="comment_form">
          <div class="col-12">
        <textarea name="comment" placeholder="Post Your Comment" class="comment-input"></textarea>
      </div>
      
        </div>
        <div class="progress mt-2 mb-2  mr-2">
          <div class="progress-bar bg-light" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      
        <div class="row mb-2">
          
          <div class="mr-auto">
            <div class=" mt-2 ml-3">
              <a class="btn btn-round btn-light" href="{% url 'post_detail' post.identifier %}"><small> <i class="fa-regular fa-image"></i></small></a>
      
              </div>
          </div>
      
          <div class="ml-auto">
            <div class=" mr-3 mt-2">
              <button type="submit" class="btn btn-danger btn-round px-3">Send</button>
              </div>
          </div>
        </div>
      </form>
     
      </div>

      

      </div>
      </div>
     {% endfor %}

    {% else %}
     <div class="empty-img text-center"> <img src="{% static 'img/icons/empty.svg' %}" ></div>

     <p class="mt-3 text-center"> There are no deals posted yet </p>

     {% endif %}

     {% if all_comments %}
              {% for comment in all_comments %}
     <div class="row mt-3">

     
      <div class="post_card  mb-2 col-12 "> 
         <div class=" row">
            <a href="{% url 'view_profile' comment.comment_by.username %}">

            <div class="lefter mr-auto">
              
              <span class="account-avatar ">
              {% if comment.avatar %}
              <img src="{{ comment.avatar.url }}"  id="user-main-avatar" >
              {% else %}
                  <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar" >
              {% endif %}
            </span>
              <span class="  ml-2 ">
                <b>{{comment.name}}</b> {% if comment.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 18px;height: auto; margin-bottom: 3px;"></span> {% endif %}  <span class="blue"><small> @{{comment.comment_by.username |slice:":10" }} </small>  </span>                  
                 <span class=" ml-4 comment-time"> {{comment.whenpublished}}</span> 

              </span>
            </div>
            </a>
              <div class="ml-auto mr-3 ">

                <div class="card-action">
                  <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle-nocaret" data-toggle="dropdown">
                   <i class="fa-solid fa-ellipsis"></i>
             
                  </a>
                   <div class="dropdown-menu dropdown-menu-right">
                    {% if request.user != comment.comment_by %}
                    <button class="dropdown-item follow-button btn btn-trans" data-profile-username="{{ comment.comment_by }}"
                            data-initial-state="{% if request.user.username in comment.comment_by.following.all %}unfollow{% else %}follow{% endif %}">
                        {% if request.user.username in comment.comment_by.following.all %}
                            Unfollow 
                        {% else %}
                        <i class="fa-solid fa-plus mr-1"></i>  Follow 
                        {% endif %}
                    </button>
            
                    {% endif %}
            
                    {% if request.user == comment.comment_by %}
                     <button class="dropdown-item" onclick="commentDelete({{ comment.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
                    {% endif %}
            
                    {% if request.user != comment.comment_by %}
                    <button class="dropdown-item report-comment-button" data-toggle="modal" data-report-id="{{ comment.id }}" data-target="#ReportCommentModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
                    {% endif %}
             
                    </div>
                   </div>
                 
                  </div>
              </div> 
          </div> 
  
       
      
      <div class="container mt-2">
        <a href="#"  >

       <div class="post-body">
         
         <p class="short-body mt-1">
           <a href="#" id="post-body" >
           {{ comment.body|slice:":144" }}{% if comment.body|length > 144 %}...{% endif %}
         </a>
         </p>
           
         <p class="full-body mt-1">
           <a href="#" id="post-body" >
 
           {{ comment.body }}</a> </p>
         {% if comment.body|length > 144 %}
             <a class="show-more-link">Show more</a>
         {% endif %}
         <a class="show-less-link blue" style="display: none; ">Show less</a>
 
     </div>
    </a>
         
            {% if comment.comment_image %}
             
          <div class="post_card--creative mt-3">

           <img src="{{ comment.comment_image.url }}">
 
  
          </div>

          {% endif %}

     <div class="row mt-2">

     
      
      <div class="post_card  mb-2 col-12 "> 
        <div class="row">
         <div class="ml-3 ">
           <button class="btn btn-trans " data-toggle="tooltip" data-placement="top" title="Views" >
            <small> <i class="fa-solid fa-chart-simple grey"></i>
             {{comment.parent_post.view_count}} </small>
         </button>
         </div>
        
         
      
       <div class="ml-auto  mr-3 mt-2">
          <div class="card-action">
      <div class="dropdown">
      <a href="javascript:void();" class="dropdown-toggle-nocaret btn-light btn-round px-3" data-toggle="dropdown">
       <i class="fa-solid fa-ellipsis"></i>
 
      </a>
       <div class="dropdown-menu dropdown-menu-right">
         {% if request.user != comment.parent_post.posted_by %}
         <button class="dropdown-item follow-button  btn btn-light" data-profile-username="{{ post.posted_by }}"
                 data-initial-state="{% if request.user.username in post.posted_by.following.all %}unfollow{% else %}follow{% endif %}">
             {% if request.user in post.posted_by.following.all %}
                 Unfollow
             {% else %}
             <i class="fa-solid fa-plus mr-1"></i>  Follow 
             {% endif %} 
         </button>
 
         {% endif %}
 
         {% if request.user == comment.parent_post.posted_by %}
          <button class="dropdown-item" onclick="confirmDelete({{ post.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
         {% endif %}
 
         {% if request.user != comment.parent_post.posted_by %}
        <button class="dropdown-item report-button" data-toggle="modal" data-report-id="{{ post.id }}" data-target="#ReportModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
        {% endif %}
      
        {% if request.user != comment.parent_post.posted_by %}
        <button class="dropdown-item bookmark-button " data-post-id="{{ post.id }}"><i class="fa-regular fa-bookmark mr-2"></i>Collect </button>       
        {% endif %}
 
        </div>
       </div>
     
      </div>
     </div>
   </div>
    
 
       <div class="post_card--brand ">
         <div class="brand__info">
           <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
 
           <div class="name-tag ">
 
 
             <a href="{% url 'view_profile' comment.parent_post.posted_by%}">
             <div class="follow-account ">
               <span class="account-avatar">
                 {% if comment.parent_post.avatar %}
                
                 <img src="{{ comment.parent_post.avatar.url }}"  id="user-main-avatar">
                 {% else %}
                     <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
                  
                     {% endif %}
               </span>
               <div class="user-details ">
                 <p><b>{{comment.parent_post.poster_full}} </b> {% if comment.parent_post.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 19px;height: auto; margin-bottom: 3px;"></span> {% endif %}  . {{comment.parent_post.whenpublished}} </p>
                 <p class="blue">@{{comment.parent_post.posted_by}}</p>
               </div> 
             
           </div>
         </a>
 </div>
           
         </div>
       </div>
 
       <div class="row ml-auto">
       {% if comment.parent_post.post_type == "project" %}
 
         <div class=" binary_badge ">
                 
         <a href="#" class="badge badge-pill badge-primary ">{{comment.parent_post.progress}}</a> 
                 
         </div>
         
     <div class=" topic_badge mr-2">
         <a href="{% url 'industry_filter' comment.parent_post.industry %}" class="badge badge-pill badge-warning  mr-2">{{ comment.parent_post.industry|title }}</a>
     </div>
 {% endif %}
 </div>
 
 <div class="mt-1 ml-3 mr-3"><b>{{comment.parent_post.headline | capfirst}} </b></div>
 
      <div class="container mt-2">
   
       <div class="post-body">
         
         <p class="short-body mt-1">
           <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}" id="post-body" >
           {{ comment.parent_post.body|slice:":144" }}{% if comment.parent_post.body|length > 144 %}...{% endif %}
         </a>
         </p>
           
         <p class="full-body mt-1">
           <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}" id="post-body" >
 
           {{ comment.parent_post.body }}</a> </p>
         {% if comment.parent_post.body|length > 144 %}
             <a class="show-more-link">Show more</a>
         {% endif %}
         <a class="show-less-link blue" style="display: none; ">Show less</a>
 
     </div>
         
             {% if comment.parent_post.post_image %}
             <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}">
       <div class="post_card--creative mt-2">
 
         <img src="{{ comment.parent_post.post_image.url }}">
        
         
     </div> </a>
   
     {% endif %}
       
      
     <div class="post_card--summary">
       {% if comment.parent_post.post_type == "project" %}
 
       <a href="#">
         <div class="post_card--cta ">
           <div class="mx-auto mt-2 mb-2">
             <a href="{{ comment.parent_post.cta_link }}" target="_blank" class="btn btn-outline-danger btn-round px-3">{{comment.parent_post.project_cta}} <i class="fa-solid fa-chevron-right ml-"></i> </a>
                 
           </div>
         </div>
       </a>
 
       {% endif %}
         <!-- DO NOT CHANGE THIS IMAGE -->
      
     
       </div>
 
       
      
       </div>
 
       
 
       </div>
       </div>
       
      
     <div class="post_card--summary">
       
         <!-- DO NOT CHANGE THIS IMAGE -->
         <div class="post_card--input--left mt-2 ">
 
          <div class="post-icons">
            <button class="reply-button btn btn-light btn-round" data-comment-id="{{ comment.id }}">
              <i class="fa-regular fa-comment"></i>
              <span class="post-engagement ml-2">{{ comment.reply_count }}</span>

            </button>
          </div>
 
             <div class=" like row ">
              {% if user.is_authenticated %}
              
              <form action="{% url 'upvote_comment' comment.id %}" method="post">
                {% csrf_token %}
              <span class=" ml-2"> 
                  <button  class="btn btn-light btn-round comment-upvote-button {% if user in comment.likes.all or comment.id in clicked_buttons %} clicked-button{% endif %}" data-comment-id="{{ comment.id }}"> <i class="fa-regular fa-heart"></i> </button>         
              </span>
              </form>
            
            <span class="ml-2 mt-2" id="vote-count-{{ comment.id }}" > {{ comment.vote_count }} </span>
    
            <form action="{% url 'downvote_comment' comment.id %}" method="post">
              {% csrf_token %}
            <span class=" ml-2">
              <button  class="btn btn-light btn-round comment-downvote-button {% if user in comment.dislikes.all %} clicked-button{% endif %}" data-comment-id="{{ comment.id }}"> <i class="fa-solid fa-xmark"></i> </button>
            </span>
            </form>
            {% endif %}
            </div>
 
            <div class="post-icons mr-3">
              <button class="comment-bookmark-button btn btn-light btn-round" data-comment-id="{{ comment.id }}">
                <i class="fa-regular fa-bookmark"></i> 
      
            </button>
      
            </div>
           
 
  
         <!-- DO NOT CHANGE THIS IMAGE -->
       </div>
      
       
      
     
       </div>

       <div class="mb-2 mt-3">
        <form class="reply-form"  data-comment-id="{{ comment.id }}" style="display: none;" >
          {% csrf_token %}
  
          <div class="row " id="reply_form">
            <div class="col-12">
          <textarea name="reply" placeholder="Post Your Reply" class="reply-input"></textarea>
        </div>
       
          </div>
          <div class="progress ml-3 mr-3 mt-2 mb-2">
            <div class="progress-bar bg-light" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          <div class="row">
            <div class="ml-auto">
              <div class=" mr-4 mt-2">
                <button type="submit" class="btn btn-warning btn-round px-3">Send</button>
                </div><br/>
            </div>
          </div>
        </form>
        </div>
       
       </div>
 
       
 
       </div>
      </div>
     {% endfor %}
     {%endif%}

     <div class="spacer"></div>
  <!-- END FEED-->
</div>

    </div>
   

    <div class="content-container ">
      <div class="content content-tab2 ">
  
        <br>
        {% if following_posts %}

     {% for post in following_posts %}
     <div class="row mt-2">

     
      
     <div class="post_card  mb-2 col-12 "> 
       <div class="row">
        <div class="ml-3 ">
          <button class="btn btn-trans " data-toggle="tooltip" data-placement="top" title="Views" >
           <small> <i class="fa-solid fa-chart-simple grey"></i>
            {{post.view_count}} </small>
        </button>
        </div>
       
        
     
      <div class="ml-auto  mr-3 mt-2">
         <div class="card-action">
     <div class="dropdown">
     <a href="javascript:void();" class="dropdown-toggle-nocaret btn-light btn-round px-3" data-toggle="dropdown">
      <i class="fa-solid fa-ellipsis"></i>

     </a>
      <div class="dropdown-menu dropdown-menu-right">
        {% if request.user != post.posted_by %}
        <button class="dropdown-item follow-button  btn btn-light" data-profile-username="{{ post.posted_by }}"
                data-initial-state="{% if request.user.username in post.posted_by.following.all %}unfollow{% else %}follow{% endif %}">
            {% if request.user in post.posted_by.following.all %}
            Follow
            {% else %}
            <i class="fa-solid fa-minus mr-1"></i>  Unfollow 
            {% endif %} 
        </button>

        {% endif %}

        {% if request.user == post.posted_by %}
         <button class="dropdown-item" onclick="confirmDelete({{ post.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
        {% endif %}

        {% if request.user != post.posted_by %}
       <button class="dropdown-item report-button" data-toggle="modal" data-report-id="{{ post.id }}" data-target="#ReportModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
       {% endif %}
     
       {% if request.user != post.posted_by %}
       <button class="dropdown-item bookmark-button " data-post-id="{{ post.id }}"><i class="fa-regular fa-bookmark mr-2"></i>Collect </button>       
       {% endif %}

       </div>
      </div>
    
     </div>
    </div>
  </div>
   

      <div class="post_card--brand ">
        <div class="brand__info">
          <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->

          <div class="name-tag ">


            <a href="{% url 'view_profile' post.posted_by%}">
            <div class="follow-account ">
              <span class="account-avatar">
                {% if post.avatar %}
               
                <img src="{{ post.avatar.url }}"  id="user-main-avatar">
                {% else %}
                    <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
                 
                    {% endif %}
              </span>
              <div class="user-details ">
                <p><b>{{post.poster_full}} </b> {% if post.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 19px;height: auto; margin-bottom: 3px;"></span> {% endif %}  . {{post.whenpublished}} </p>
                <p class="blue">@{{post.posted_by}}</p>
              </div>
            
          </div>
        </a>
</div>
          
        </div>
      </div>

      <div class="row ml-auto">
      {% if post.post_type == "project" %}

        <div class=" binary_badge ">
                
        <a href="#" class="badge badge-pill badge-primary ">{{post.progress}}</a> 
                
        </div>
        
    <div class=" topic_badge mr-2">
        <a href="{% url 'industry_filter' post.industry %}" class="badge badge-pill badge-warning  mr-2">{{ post.industry|title }}</a>
    </div>
{% endif %}
</div>
          <a href="{% url 'post_detail' identifier=post.identifier %}" >

<div class="mt-1 ml-3 mr-3"><b>{{post.headline | capfirst}} </b></div>
          </a>
     <div class="container mt-2">
  
      <div class="post-body">
        
        <p class="short-body mt-1">
          <a href="{% url 'post_detail' identifier=post.identifier %}" id="post-body" >
          {{ post.body|slice:":144" }}{% if post.body|length > 144 %}...{% endif %}
        </a>
        </p>
          
        <p class="full-body mt-1">
          <a href="{% url 'post_detail' identifier=post.identifier %}" id="post-body" >

          {{ post.body }}</a> </p>
        {% if post.body|length > 144 %}
            <a class="show-more-link">Show more</a>
        {% endif %}
        <a class="show-less-link blue" style="display: none; ">Show less</a>

    </div>
        
            {% if post.post_image %}
            <a href="{% url 'post_detail' identifier=post.identifier %}">
      <div class="post_card--creative mt-2">

        <img src="{{ post.post_image.url }}">
       
        
    </div> </a>
  
    {% endif %}
      
     
    <div class="post_card--summary">
      {% if post.post_type == "project" %}

      <a href="#">
        <div class="post_card--cta ">
          <div class="mx-auto mt-2 mb-2">
            <a href="{{ post.cta_link }}" target="_blank" class="btn btn-outline-danger btn-round px-3">{{post.project_cta}} <i class="fa-solid fa-chevron-right ml-"></i> </a>
                
          </div>
        </div>
      </a>

      {% endif %}
        <!-- DO NOT CHANGE THIS IMAGE -->
        <div class="post_card--input--left mt-2 ">

          <div class="post-icons">
            <button class="comment-button btn btn-light btn-round" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Comments" >
              <i class="fa-regular fa-comment"></i>
              <span class="post-engagement ml-2" id="comment-count-{{ post.id }}">{{ post.comment_count }}</span>

            </button>
          </div>

            <div class=" like row ">
              {% if user.is_authenticated %}
              
              <form action="{% url 'upvote_post' post.id %}" method="post">
                {% csrf_token %}
              <span > 
                  <button  class="btn btn-light btn-round upvote-button {% if user in post.likes.all or post.id in clicked_buttons %} clicked-button{% endif %}" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Like" > <i class="fa-regular fa-heart"></i> </button>         
              </span>
              </form>
            
            <span class="ml-2 mt-2 mr-2" id="vote-count-{{ post.id }}" > {{ post.vote_count }} </span>
    
            <form action="{% url 'downvote_post' post.id %}" method="post">
              {% csrf_token %}
            <span>
              <button  class="btn btn-light btn-round downvote-button {% if user in post.dislikes.all %} clicked-button{% endif %}" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Dislike"> <i class="fa-solid fa-xmark"></i> </button>
            </span>
            </form>
            {% endif %}
            </div>


           <div class="post-icons  mr-3">
            <button class="repost-button btn btn-light btn-round share-btn" data-post-url="{% url 'post_detail' identifier=post.identifier %}"   data-toggle="tooltip" data-placement="top" title="Share this Post" >
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
              </button>
          </div>

 
        <!-- DO NOT CHANGE THIS IMAGE -->
      </div>
     
      
     
    
      </div>

      <form class="comment-form mt-3" data-post-id="{{ post.id }}">
        {% csrf_token %}
      
        <div class="row " id="comment_form">
          <div class="col-12">
        <textarea name="comment" placeholder="Post Your Comment" class="comment-input"></textarea>
      </div>
      
        </div>
        <div class="progress mt-2 mb-2  mr-2">
          <div class="progress-bar bg-light" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      
        <div class="row mb-2">
          
          <div class="mr-auto">
            <div class=" mt-2 ml-3">
              <a class="btn btn-round btn-light" href="{% url 'post_detail' post.identifier %}"><small> <i class="fa-regular fa-image"></i></small></a>
      
              </div>
          </div>
      
          <div class="ml-auto">
            <div class=" mr-3 mt-2">
              <button type="submit" class="btn btn-danger btn-round px-3">Send</button>
              </div>
          </div>
        </div>
      </form>
     
      </div>

      

      </div>
      </div>
     {% endfor %}

    {% else %}
     <div class="empty-img text-center"> <img src="{% static 'img/icons/empty.svg' %}" ></div>

     <p class="mt-3 text-center"> There are no deals posted yet </p>

     {% endif %}

     {% if following_comments %}
              {% for comment in following_comments %}
     <div class="row mt-3">

     
      <div class="post_card  mb-2 col-12 "> 
         <div class=" row">
            <a href="{% url 'view_profile' comment.comment_by.username %}">

            <div class="lefter mr-auto">
              
              <span class="account-avatar ">
              {% if comment.avatar %}
              <img src="{{ comment.avatar.url }}"  id="user-main-avatar" >
              {% else %}
                  <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar" >
              {% endif %}
            </span>
              <span class="  ml-2 ">
                <b>{{comment.name}}</b> {% if comment.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 18px;height: auto; margin-bottom: 3px;"></span> {% endif %}  <span class="blue"><small> @{{comment.comment_by.username |slice:":10" }} </small>  </span>          
                 <span class=" ml-4 comment-time"> {{comment.whenpublished}}</span> 


              </span>

            </div>
            </a>
              <div class="ml-auto mr-3 ">

                <div class="card-action">
                  <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle-nocaret" data-toggle="dropdown">
                   <i class="fa-solid fa-ellipsis"></i>
             
                  </a>
                   <div class="dropdown-menu dropdown-menu-right">
                    {% if request.user != comment.comment_by %}
                    <button class="dropdown-item follow-button btn btn-trans" data-profile-username="{{ comment.comment_by }}"
                            data-initial-state="{% if request.user.username in comment.comment_by.following.all %}unfollow{% else %}follow{% endif %}">
                        {% if request.user.username in comment.comment_by.following.all %}
                            Unfollow 
                        {% else %}
                        <i class="fa-solid fa-plus mr-1"></i>  Follow 
                        {% endif %}
                    </button>
            
                    {% endif %}
            
                    {% if request.user == comment.comment_by %}
                     <button class="dropdown-item" onclick="commentDelete({{ comment.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
                    {% endif %}
            
                    {% if request.user != comment.comment_by %}
                    <button class="dropdown-item report-comment-button" data-toggle="modal" data-report-id="{{ comment.id }}" data-target="#ReportCommentModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
                    {% endif %}
             
                    </div>
                   </div>
                 
                  </div>
              </div> 
          </div> 
  
       
      
      <div class="container mt-2">
        <a href="#"  >

       <div class="post-body">
         
         <p class="short-body mt-1">
           <a href="#" id="post-body" >
           {{ comment.body|slice:":144" }}{% if comment.body|length > 144 %}...{% endif %}
         </a>
         </p>
           
         <p class="full-body mt-1">
           <a href="#" id="post-body" >
 
           {{ comment.body }}</a> </p>
         {% if comment.body|length > 144 %}
             <a class="show-more-link">Show more</a>
         {% endif %}
         <a class="show-less-link blue" style="display: none; ">Show less</a>
 
     </div>
    </a>
         
            {% if comment.comment_image %}
             
          <div class="post_card--creative mt-3">

           <img src="{{ comment.comment_image.url }}">
 
  
          </div>

          {% endif %}

     <div class="row mt-2">

     
      
      <div class="post_card  mb-2 col-12 "> 
        <div class="row">
         <div class="ml-3 ">
           <button class="btn btn-trans " data-toggle="tooltip" data-placement="top" title="Views" >
            <small> <i class="fa-solid fa-chart-simple grey"></i>
             {{comment.parent_post.view_count}} </small>
         </button>
         </div>
        
         
      
       <div class="ml-auto  mr-3 mt-2">
          <div class="card-action">
      <div class="dropdown">
      <a href="javascript:void();" class="dropdown-toggle-nocaret btn-light btn-round px-3" data-toggle="dropdown">
       <i class="fa-solid fa-ellipsis"></i>
 
      </a>
       <div class="dropdown-menu dropdown-menu-right">
         {% if request.user != comment.parent_post.posted_by %}
         <button class="dropdown-item follow-button  btn btn-light" data-profile-username="{{ post.posted_by }}"
                 data-initial-state="{% if request.user.username in post.posted_by.following.all %}unfollow{% else %}follow{% endif %}">
             {% if request.user in post.posted_by.following.all %}
                 Unfollow
             {% else %}
             <i class="fa-solid fa-plus mr-1"></i>  Follow 
             {% endif %} 
         </button>
 
         {% endif %}
 
         {% if request.user == comment.parent_post.posted_by %}
          <button class="dropdown-item" onclick="confirmDelete({{ comment.parent_post.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
         {% endif %}
 
         {% if request.user != comment.parent_post.posted_by %}
        <button class="dropdown-item report-button" data-toggle="modal" data-report-id="{{ comment.parent_post.id }}" data-target="#ReportModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
        {% endif %}
      
        {% if request.user != comment.parent_post.posted_by %}
        <button class="dropdown-item bookmark-button " data-post-id="{{ comment.parent_post.id }}"><i class="fa-regular fa-bookmark mr-2"></i>Collect </button>       
        {% endif %}
 
        </div>
       </div>
     
      </div>
     </div>
   </div>
    
 
       <div class="post_card--brand ">
         <div class="brand__info">
           <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
 
           <div class="name-tag ">
 
 
             <a href="{% url 'view_profile' comment.parent_post.posted_by%}">
             <div class="follow-account ">
               <span class="account-avatar">
                 {% if comment.parent_post.avatar %}
                
                 <img src="{{ comment.parent_post.avatar.url }}"  id="user-main-avatar">
                 {% else %}
                     <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
                  
                     {% endif %}
               </span>
               <div class="user-details ">
                 <p><b>{{comment.parent_post.poster_full}} </b> {% if comment.parent_post.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 19px;height: auto; margin-bottom: 3px;"></span> {% endif %}  . {{comment.parent_post.whenpublished}} </p>
                 <p class="blue">@{{comment.parent_post.posted_by}}</p>
               </div> 
             
           </div>
         </a>
 </div>
           
         </div>
       </div>
 
       <div class="row ml-auto">
       {% if comment.parent_post.post_type == "project" %}
 
         <div class=" binary_badge ">
                 
         <a href="#" class="badge badge-pill badge-primary ">{{comment.parent_post.progress}}</a> 
                 
         </div>
         
     <div class=" topic_badge mr-2">
         <a href="{% url 'industry_filter' comment.parent_post.industry %}" class="badge badge-pill badge-warning  mr-2">{{ comment.parent_post.industry|title }}</a>
     </div>
 {% endif %}
 </div>
 
 <div class="mt-1 ml-3 mr-3"><b>{{comment.parent_post.headline | capfirst}} </b></div>
 
      <div class="container mt-2">
   
       <div class="post-body">
         
         <p class="short-body mt-1">
           <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}" id="post-body" >
           {{ comment.parent_post.body|slice:":144" }}{% if comment.parent_post.body|length > 144 %}...{% endif %}
         </a>
         </p>
           
         <p class="full-body mt-1">
           <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}" id="post-body" >
 
           {{ comment.parent_post.body }}</a> </p>
         {% if comment.parent_post.body|length > 144 %}
             <a class="show-more-link">Show more</a>
         {% endif %}
         <a class="show-less-link blue" style="display: none; ">Show less</a>
 
     </div>
         
             {% if comment.parent_post.post_image %}
             <a href="{% url 'post_detail' identifier=comment.parent_post.identifier %}">
       <div class="post_card--creative mt-2">
 
         <img src="{{ comment.parent_post.post_image.url }}">
        
         
     </div> </a>
   
     {% endif %}
       
      
     <div class="post_card--summary">
       {% if comment.parent_post.post_type == "project" %}
 
       <a href="#">
         <div class="post_card--cta ">
           <div class="mx-auto mt-2 mb-2">
             <a href="{{ comment.parent_post.cta_link }}" target="_blank" class="btn btn-outline-danger btn-round px-3">{{comment.parent_post.project_cta}} <i class="fa-solid fa-chevron-right ml-"></i> </a>
                 
           </div>
         </div>
       </a>
 
       {% endif %}
         <!-- DO NOT CHANGE THIS IMAGE -->
      
     
       </div>
 
       
      
       </div>
 
       
 
       </div>
       </div>
       
      
     <div class="post_card--summary">
       
         <!-- DO NOT CHANGE THIS IMAGE -->
         <div class="post_card--input--left mt-2 ">
 
          <div class="post-icons">
            <button class="reply-button btn btn-light btn-round" data-comment-id="{{ comment.id }}">
              <i class="fa-regular fa-comment"></i>
              <span class="post-engagement ml-2">{{ comment.reply_count }}</span>

            </button>
          </div>
 
             <div class=" like row ">
              {% if user.is_authenticated %}
              
              <form action="{% url 'upvote_comment' comment.id %}" method="post">
                {% csrf_token %}
              <span class=" ml-2"> 
                  <button  class="btn btn-light btn-round comment-upvote-button {% if user in comment.likes.all or comment.id in clicked_buttons %} clicked-button{% endif %}" data-comment-id="{{ comment.id }}"> <i class="fa-regular fa-heart"></i> </button>         
              </span>
              </form>
            
            <span class="ml-2 mt-2" id="vote-count-{{ comment.id }}" > {{ comment.vote_count }} </span>
    
            <form action="{% url 'downvote_comment' comment.id %}" method="post">
              {% csrf_token %}
            <span class=" ml-2">
              <button  class="btn btn-light btn-round comment-downvote-button {% if user in comment.dislikes.all %} clicked-button{% endif %}" data-comment-id="{{ comment.id }}"> <i class="fa-solid fa-xmark"></i> </button>
            </span>
            </form>
            {% endif %}
            </div>
 
            <div class="post-icons mr-3">
              <button class="comment-bookmark-button btn btn-light btn-round" data-comment-id="{{ comment.id }}">
                <i class="fa-regular fa-bookmark"></i> 
      
            </button>
      
            </div>
           
 
  
         <!-- DO NOT CHANGE THIS IMAGE -->
       </div>
      
       
      
     
       </div>

       <div class="mb-2 mt-3">
        <form class="reply-form"  data-comment-id="{{ comment.id }}" style="display: none;" >
          {% csrf_token %}
  
          <div class="row " id="reply_form">
            <div class="col-12">
          <textarea name="reply" placeholder="Post Your Reply" class="reply-input"></textarea>
        </div>
       
          </div>
          <div class="progress ml-3 mr-3 mt-2 mb-2">
            <div class="progress-bar bg-light" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          <div class="row">
            <div class="ml-auto">
              <div class=" mr-4 mt-2">
                <button type="submit" class="btn btn-warning btn-round px-3">Send</button>
                </div><br/>
            </div>
          </div>
        </form>
        </div>
       
       </div>
 
       
 
       </div>
      </div>
     {% endfor %}
     {%endif%}
       <div class="spacer"></div>
    <!-- END FEED-->
  </div>
  
      </div>
    
  </div>
</div>
    
    

</div>
</div>




<div class="modal fade" id="AuthModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content" id="token-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body ">
        
          <div class="container text-center ">
            <ul class="tabs-bar  text-center">
              <li id="tab1" class="tab tab-active"><b>Login</b></li>
              <li id="tab2" class="tab"> <b>Sign Up</b></li>
          
            </ul>

            <div class="content content-tab1 content-active">
              kkk
            </div>
            
            <div class="content content-tab2">
              jjj
            </div>
          </div>
              
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>
</div>

<!-- Gas Modal -->

<div class="modal fade" id="GasModal"  tabindex="-1" aria-labelledby="voteModalLabel{{ post.id }}" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" >
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
          <div class="modal-body mt-3 mb-3">

           
             <p  class="text-center "><small> 13 members have voted. their verdict is: </small></p>

             <canvas id="myChart"></canvas>


  

      </div>
      <div class="modal-footer  ">
            
      </div>
  </div>
</div>
</div>

<!-- Feed Ends -->
{% endblock %}