{% extends '../app/base.html' %}
{% block content %}

{% load static %}

 <!-- Feed Starts -->

 
 
  
 <div class="col  ">

  <div class="container ">
    <ul class="tabs-bar text-center ">
      <li id="tab1" class="tab"><b>Deals</b></li>
      <li id="tab2" class="tab tab-active "><b>Jobs</b></li>
      <li id="tab3" class="tab  "><b>Projects</b></li>

  
    </ul>

  <div class="feed ">
    

    <div class="app--feed mt-5 ">

      <div  class="mt-3 ml-3 binary_badge"><a href="#" class="badge badge-pill badge-warning topic_badge mr-2">{{ industry|title }}</a>
      </div>


    <div class="content-container">
    
       

      <div class="content content-tab2 content-active">
  
       
<br>
{% if filtered_gigs %}
{% for gig in filtered_gigs %}
<div class="row mt-2">
  
       
        
  <div class="post_card  mb-2 col-12 "> 
    <div class="row">
     <div class="ml-3 ">
       <!-- <button class="btn btn-light btn-round " data-toggle="tooltip" data-placement="top" title="Views" >
        <small> <i class="fa-solid fa-chart-simple grey"></i>
         9 </small>
     </button> -->
     </div>

    

     <div class=" ml-auto grey mt-2 ">
       <i class="fa-solid fa-location-dot"></i>  {{ gig.location }}
     </div>

     
  
   <div class="ml-auto  mr-3 mt-2">
      <div class="card-action">
  <div class="dropdown">
  <a href="javascript:void();" class="dropdown-toggle-nocaret btn-light btn-round px-3" data-toggle="dropdown">
   <i class="fa-solid fa-ellipsis"></i>

  </a>
   <div class="dropdown-menu dropdown-menu-right">
     {% if request.user != gig.posted_by %}
     <button class="dropdown-item follow-button  btn btn-light" data-profile-username="{{ post.posted_by }}"
             data-initial-state="{% if request.user.username in post.posted_by.following.all %}unfollow{% else %}follow{% endif %}">
         {% if request.user.username in gig.posted_by.following.all %}
             Unfollow 
         {% else %}
         <i class="fa-solid fa-plus mr-1"></i>  Follow 
         {% endif %}
     </button>

     {% endif %}

     {% if request.user == gig.posted_by %}
      <button class="dropdown-item" onclick="gigDelete({{ gig.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
      
     {% endif %}

     {% if request.user != gig.posted_by %}
     
     <button class="dropdown-item report-gig-button" data-toggle="modal" data-report-id="{{ gig.id }}" data-target="#ReportGigModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
     {% endif %}
   <!-- <button class="dropdown-item btn btn-light copy-url-button" data-url="{{ gig.get_absolute_url }}" >Copy link <i class="fa-solid fa-link ml-1"></i> </button> -->
  


    </div>
   </div>
 
  </div>
 </div>
</div>


   <div class="post_card--brand ">
     <div class="brand__info">
       <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->

       <div class="name-tag ">


         <a href="{% url 'view_profile' gig.posted_by%}">
         <div class="follow-account ">
           <span class="account-avatar">
             {% if gig.avatar %}
            
             <img src="{{ gig.avatar.url }}"  id="user-main-avatar">
             {% else %}
                 <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
              
                 {% endif %}
           </span>
           <div class="user-details ">
             <p><b>{{gig.poster_full}} </b> {% if gig.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 19px;height: auto; margin-bottom: 3px;"></span> {% endif %}  . {{gig.whenpublished}} </p>
             <p class="blue">@{{gig.posted_by}}</p>
           </div>
         
       </div>
     </a>
</div>
       
     </div>
   </div>
   
  
  <div class="container mt-2 ">

   <div class="ml-auto mt-2 mb-3 binary_badge">

     <a href="{% url 'type_'|add:gig.gig_type %}" class="badge badge-pill badge-primary ">{{gig.gig_type}}</a> 
     <a href="{% url 'xp_'|add:gig.experience %}" class="badge badge-pill badge-primary  ml-2">{{gig.experience}}</a> 

   </div>

   <b>{{ gig.title }}</b>

   <div class="gig-body ">
      
     <p class="short-body mt-1" id="gig-body" >
       {{ gig.body|slice:":144" }}{% if gig.body|length > 144 %}...{% endif %}
     </p>

     <p class="full-body mt-1" id="gig-body" >

       {{ gig.body }} </p>
     {% if gig.body|length > 144 %}
         <a class="show-more-link">Show more</a>
     {% endif %}
     <a class="show-less-link blue" style="display: none; ">Show less</a>

 </div>
     
   
  
 <div class="post_card--summary mt-3 mb-3">
   <a href="#">
     <div class="post_card--cta ">
       <div class="mx-auto mt-2 mb-2">
         <a href="{{ gig.apply_link }}" target="_blank" class="btn btn-outline-primary btn-round px-3">Apply <i class="fa-solid fa-arrow-up-right-from-square ml-1"></i> </a>
     </div>
   </div>
   </a>

   </div>
  
   </div>

   

   </div>
   </div>
{% endfor %}
{% else %}
    <div class="empty-img text-center"> <img src="{% static 'img/icons/empty.svg' %}" ></div>

     <p class="mt-3 text-center"> There are no vacancies in the {{industry}} industry at the moment</p>
  {%endif%}
  <div class="spacer"></div>
  </div>


  </div>

  <div class="content-container">
    
       

    <div class="content content-tab3 ">

     
<br>
{% if projects %}
{% for post in filtered_posts %}
{% if post.post_type == "project" %}
<div class="row mt-2">

     
      
  <div class="post_card  mb-2 col-12 "> 
    <div class="row">
     <div class="ml-3 ">
       <button class="btn btn-trans " data-toggle="tooltip" data-placement="top" title="Views" >
        <small> <i class="fa-solid fa-chart-simple grey"></i>
         {{post.view_count}} </small>
     </button>
     </div>

     <div class="ml-auto mt-1 binary_badge">

      <a href="#" class="badge badge-pill badge-primary ">{{post.progress}}</a> 

    </div>
    
  
   <div class="ml-auto  mr-3 mt-1">
      <div class="card-action">
  <div class="dropdown">
  <a href="javascript:void();" class="dropdown-toggle-nocaret btn-light btn-round px-3" data-toggle="dropdown">
   <i class="fa-solid fa-ellipsis"></i>

  </a>
   <div class="dropdown-menu dropdown-menu-right">
     {% if request.user != post.posted_by %}
     <button class="dropdown-item follow-button  btn btn-light" data-profile-username="{{ post.posted_by }}"
             data-initial-state="{% if request.user.username in post.posted_by.following.all %}unfollow{% else %}follow{% endif %}">
         {% if request.user.username in post.posted_by.following.all %}
             Unfollow 
         {% else %}
             Follow 
         {% endif %} 
     </button>

     {% endif %}

     {% if request.user == post.posted_by %}
      <button class="dropdown-item" onclick="confirmDelete({{ post.id }})"><i class="fa-solid fa-trash-can red mr-2"></i> Delete</button>
     {% endif %}

     {% if request.user != post.posted_by %}
     <button class="dropdown-item report-button" data-toggle="modal" data-report-id="{{ post.id }}" data-target="#ReportModal"><i class="fa-solid fa-shield-halved red mr-1"></i> Report  </button>
     {% endif %}

     {% if request.user != post.posted_by %}
     <button class="dropdown-item bookmark-button btn btn-light btn-round" data-post-id="{{ post.id }}"><i class="fa-regular fa-bookmark mr-2"></i> Bookmark </button>       
     {% endif %}
     
  


    </div>
   </div>
 
  </div>
 </div>
</div>


   <div class="post_card--brand ">
     <div class="brand__info">
       <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->

       <div class="name-tag ">


         <a href="{% url 'view_profile' post.posted_by%}">
         <div class="follow-account ">
           <span class="account-avatar">
             {% if post.avatar %}
            
             <img src="{{ post.avatar.url }}"  id="user-main-avatar">
             {% else %}
                 <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
              
                 {% endif %}
           </span>
           <div class="user-details ">
             <p><b>{{post.poster_full }} </b> {% if post.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 19px;height: auto; margin-bottom: 3px;"></span> {% endif %}  . {{post.whenpublished}} </p>
             <p class="blue">@{{post.posted_by}}</p>
           </div>
         
       </div>
     </a>
</div>
       
     </div>
   </div>
   
  <div class="container mt-2">
    <a href="{% url 'post_detail' post.identifier %}">

   <div class="post-body">
     
   <b>{{ post.headline }}</b>
     <p class="short-body mt-1">
       <a href="{% url 'post_detail' post.identifier %}" id="post-body" >
       {{ post.body|slice:":144" }}{% if post.body|length > 144 %}...{% endif %}
     </a>
     </p>
       
     <p class="full-body mt-1">
       <a href="{% url 'post_detail' post.identifier %}" id="post-body" >

       {{ post.body }}</a> </p>
     {% if post.body|length > 144 %}
         <a class="show-more-link">Show more</a>
     {% endif %}
     <a class="show-less-link blue" style="display: none; ">Show less</a>

 </div>
 </a>
     
         {% if post.post_image %}
         <a href="{% url 'post_detail' post.identifier %}">
   <div class="post_card--creative mt-2" id="ad_img">

     <img src="{{ post.post_image.url }}">
    
     
 </div> </a>

 {% endif %}
   
  
 <div class="post_card--summary">
   <a href="#">
     <div class="post_card--cta ">
       <div class="mx-auto mt-2 mb-2">
         <a href="{{ post.cta_link }}" target="_blank" class="btn btn-outline-danger btn-round px-3">{{post.project_cta}} <i class="fa-solid fa-chevron-right ml-"></i> </a>

     </div>
   </div>
   </a>
     <!-- DO NOT CHANGE THIS IMAGE -->
     <div class="post_card--input--left mt-2 ">

       <div class="post-icons">
         <button class="comment-button btn btn-light btn-round" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Comments">
           <i class="fa-regular fa-comment"></i>
           <span class="post-engagement ml-2" id="comment-count-{{ post.id }}">{{ post.comment_count }}</span>

         </button>
       </div>

         <div class=" like row ">
           {% if user.is_authenticated %}
           
           <form action="{% url 'upvote_post' post.id %}" method="post">
             {% csrf_token %}
           <span > 
               <button  class="btn btn-light btn-round upvote-button {% if user in post.likes.all or post.id in clicked_buttons %} clicked-button{% endif %}" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Like" ><i class="fa-regular fa-heart"></i> </button>         
           </span>
           </form>
         
         <span class="ml-2 mt-2 mr-2" id="vote-count-{{ post.id }}" > {{ post.vote_count }} </span>
 
         <form action="{% url 'downvote_post' post.id %}" method="post">
           {% csrf_token %}
         <span>
           <button  class="btn btn-light btn-round downvote-button {% if user in post.dislikes.all %} clicked-button{% endif %}" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Dislike"> <i class="fa-solid fa-xmark"></i> </button>
         </span>
         </form>
         {% endif %}
         </div>


        <div class="post-icons  mr-3">
         <button class="repost-button btn btn-light btn-round share-btn" data-post-url="{% url 'post_detail' post.identifier %}"   data-toggle="tooltip" data-placement="top" title="Share this Post" >
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
           </button>
       </div>


     <!-- DO NOT CHANGE THIS IMAGE -->
   </div>
  
   
  
 
   </div>
   <form class="comment-form mt-3" data-post-id="{{ post.id }}">
     {% csrf_token %}

     <div class="row " id="comment_form">
       <div class="col-12">
     <textarea name="comment" placeholder="Post Your Comment" class="comment-input"></textarea>
   </div>

     </div>
     <div class="progress mt-2 mb-2  mr-2">
       <div class="progress-bar bg-light" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
   </div>

     <div class="row">
       

       <div class="ml-auto">
         <div class=" mr-3 mt-2">
           <button type="submit" class="btn btn-rounded">Send</button>
           </div>
       </div>
     </div>
   </form>
   </div>

   

   </div>
   </div>
{% endif %}
{% endfor %}
{% else %}
  <div class="empty-img text-center"> <img src="{% static 'img/icons/empty.svg' %}" ></div>

   <p class="mt-3 text-center"> There are no projects in the {{industry}} industry Yet</p>
{%endif%}
<div class="spacer"></div>
</div>


</div>

    </div>
    </div>
</div>
    </div>




<!-- Feed Ends -->
{% endblock %}