{% extends '../app/base.html' %}
{% block content %}

{% load static %}

<div class="col ">

    <div class="container ">
        <div class=" feed mt-5">
            <div class="manifesto-card ">
                <p class="ml-3 mr-2 pt-5">
                    <b>MANIFESTO</b><br><br>
                    We stand at the forefront of a digital revolution.
                   We must embrace the digital frontier as an opportunity to redefine storytelling, challenge conventions, and inspire the world. 
                    <br><br>Technology has the power to democratize access to information. It has the potential to foster empathy and understanding. The ability to unite people across cultures, languages, and borders.
                    <br><br>
                    I believe in the power of human connection, the magic of storytelling, and the transformative potential of media to change hearts, minds, and lives.
                     <br><br>Soconey is committed to curating content that resonates, experiences that captivate, and communities that thrive.
                    <br><br>
                    Join us on this journey as we embark on a quest to redefine media for the 21st century. 
                    <br><br>Together, we can shape a future where creativity knows no limits, where innovation knows no bounds, and where the power of community transforms the world.

<br><br>
G. Mwai | @g<br><br>


                </p>
            </div>
            <div class="spacer"></div>

        </div>
    </div>
</div>
{%endblock%}