{% extends '../app/profile_base.html' %}
{% block content %}

{% load static %}
<div class="col">
    <div class="container mt-5 mb-5">
        <div class="spacer"></div>
        
        <form method="post">
            {% csrf_token %}
            <label for="code">Enter the 5-digit code sent to your email:</label>
            <input type="text" id="code" name="code" required>
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>
        
      </div>       

</div>







{% endblock%}