{% extends '../app/profile_base.html' %}

{% block content %} 
     
{% load static %}

<div class="col feed">
  <div class="container secondary_post mt-5">
<div class="spacer"></div>
    <h4 class="mt-2 text-center "> Reset Your Password</h4>
      
    <form method="post" class="mx-auto mt-5">
        {% csrf_token %}
        <div class="form-group mt-3 text-center">
        <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group mt-1 text-center">
        <a type="submit" class=" btn btn-outline-dark" href="#">Confirm</a>
        </div>
    </form>
  
    </div>
  </div>
  {%endblock%}