{% extends './base.html' %}

{% block content %}
{% load static %}

    <!-- Categories Section Begin -->
   <div class="spacer"></div>
    

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <h3>{{category | capfirst}}</h3>

        <div class=" row mt-3">

            {% for post in posts %}
       
            
             
            <div class="post_card  mb-2 col-3 mt-2"> 
             
          
             <div class="post_card--brand ">
               <div class="brand__info">
                 <!-- Post Company Name (Cumulus by default) and Sponsored or Organic post (remove Sponsored if Organic Post) -->
       
                 <div class="name-tag ">
       
       
                   <a href="{% url 'view_profile' post.posted_by%}">
                   <div class="follow-account ">
                     <span class="account-avatar">
                       {% if post.avatar %}
                      
                       <img src="{{ post.avatar.url }}"  id="user-main-avatar">
                       {% else %}
                           <img src="{% static 'img/default_avatar.jpg' %}" alt="Default Avatar" id="user-main-avatar">
                        
                           {% endif %}
                     </span>
                     <div class="user-details ">
                       <p><b>{{post.poster_full}} </b> {% if post.is_verified %}  <span><img src="{% static 'img/icons/verified.png'%}"  style="width: 19px;height: auto; margin-bottom: 3px;"></span> {% endif %}  . {{post.whenpublished}} </p>
                     </div>
                   
                 </div>
               </a>
       </div>
                 
               </div>
             </div>
       
             <div class="row ml-auto">
             {% if post.post_type == "project" %}
       
               <div class=" binary_badge ">
                       
               <a href="#" class="badge badge-pill badge-primary ">{{post.progress}}</a> 
                       
               </div>
               
           <div class=" topic_badge mr-2">
               <a href="{% url 'industry_filter' post.industry %}" class="badge badge-pill badge-warning  mr-2">{{ post.industry|title }}</a>
           </div>
       {% endif %}
       </div>
                
            <div class="container mt-2">
         
           
               
                   {% if post.post_image %}
                   <a href="{% url 'post_detail' identifier=post.identifier %}">
             <div class="post_card--creative mt-2">
       
               <img src="{{ post.post_image.url }}">
              
               
           </div> </a>
         
           {% endif %}

           <a href="{% url 'post_detail' identifier=post.identifier %}" class="mt-3 ml-3 mr-3" >
            <div ><b>Ksh. {{post.max_price}} </b></div>

            <div >{{post.size}} </div>

            <div ><b>{{post.headline | capfirst}} </b></div>

            </a>
             
            
           <div class="post_card--summary">
             {% if post.post_type == "project" %}
       
             <a href="#">
               <div class="post_card--cta ">
                 <div class="mx-auto mt-2 mb-2">
                   <a href="{{ post.cta_link }}" target="_blank" class="btn btn-outline-danger btn-round px-3">{{post.project_cta}} <i class="fa-solid fa-chevron-right ml-"></i> </a>
                       
                 </div>
               </div>
             </a>
       
             {% endif %}
               <!-- DO NOT CHANGE THIS IMAGE -->
               <div class="post_card--input--left  ">
       
                 
       
                   <div class=" like row mx-auto">
                     {% if user.is_authenticated %}
                     
                     <form action="{% url 'upvote_post' post.id %}" method="post">
                       {% csrf_token %}
                     <span > 
                         <button  class="btn btn-light btn-round upvote-button {% if user in post.likes.all or post.id in clicked_buttons %} clicked-button{% endif %}" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Like" > <i class="fa-regular fa-heart"></i> </button>         
                     </span>
                     </form>
                   
                   <span class="ml-2 mt-2 mr-2" id="vote-count-{{ post.id }}" > {{ post.vote_count }} </span>
           
                   <form action="{% url 'downvote_post' post.id %}" method="post">
                     {% csrf_token %}
                   <span>
                     <button  class="btn btn-light btn-round downvote-button {% if user in post.dislikes.all %} clicked-button{% endif %}" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="Dislike"> <i class="fa-solid fa-xmark"></i> </button>
                   </span>
                   </form>
                   {% endif %}
                   </div>
       
       
                  
       
        
               <!-- DO NOT CHANGE THIS IMAGE -->
             </div>
            
             
            
           
             </div>
       
             
            
             </div>
       
             
       
             </div>
            {% endfor %}
        </div>
        
    </div>
</section>
<!-- Product Section End -->




<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

{%endblock%}