{% extends 'dashboard/base.html' %}
{% block content %}

{% load static %}

        <div class="content">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header row">
                                <h4 class="card-title ml-3">Articles</h4>
                                <a class="btn btn-success ml-3" href="#">New Post</a>

                            
                            </div>
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead class="thead-dark">
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">username</th>
                                                    <th scope="col">Views</th>
                                                    <th scope="col">Likes</th>
                                                    <th scope="col">activity</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th scope="row">AD51</th>
                                                    <td>Le Something</td>
                                                    <td>43</td>
                                                    <td>30</td>
                                                    <td class="text-primary">4%</td>
                                                  </tr>
                                              
                                                  <tr>
                                                    <th scope="row">AD51</th>
                                                    <td>Le Something</td>
                                                    <td>43</td>
                                                    <td>27</td>
                                                    <td class="text-primary">10%</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                             
                                            </div>
                                            </div>
                                         
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                        </div>

                                    </div>
        </div>
                              
{% endblock %}